<h1> Updated Index Page </h1>
<% for i in @blogs %>
    <p>
        <%= i.title %> <br>
        <%= i.body %>
    </p>
<% end %>

<%=  link_to "New Blog", new_blog_path, style:"text-decoration:none;" %>

